.pagina {
    background-color: rgb(255, 0, 0);
}

header {
    display: flex;
    width: 100%;
    justify-content: center;
}

.contenedor-titulo {
  position: relative;
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 100px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 10px 100px rgb(0, 0, 0);
  margin: 0 auto;
}
section {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.logo-izquierda {
    position: absolute;
    z-index: 0;
    transform: translate(-5%,30%) rotate(-90deg) scaleX(-1);
    width: 1500px;
    padding-right: 5rem;
    animation: fade-in 2.2s ease-out;
    
}

.titulo {
  position: relative;
  z-index: 1;
  color: rgb(255, 0, 0);
  top: -15%;
  font-size: 26vw;
  font-weight: bold;
  font-family: 'Tall';
  letter-spacing: 1rem;
  text-shadow: 10px 5px rgb(87, 11, 11);
  animation: entrada-desde-arriba 1.2s ease-out forwards;
  text-align: center;
}

.scrolling-item {
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.6s, transform 0.6s;
}
.scrolling-item.visible {
    opacity: 1;
    transform: scale(1);
  }

.contenedor {
  border-radius: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: normal;
  display: flex;
  align-items: start;
  justify-content: center;
  text-align: center;
  width: 50vw;
  height: 50vh;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  margin: 20px;
  box-shadow: 0 10px 10px rgb(0, 0, 0);
}
.izquierda{
  right: 0;
  top: 0;
  display: flex;
  justify-self: start;
}
.derecha{
  left: 0;
  top: 0;
  display: flex;
  justify-self: end;
}

.pask {
  font-family: 'Pask';
  font-size: 5rem;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px rgb(255, 255, 255);
}
.graffiti {
  font-family: 'Tag';
  font-size: 7rem;
  letter-spacing: 7px;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px rgb(255, 255, 255);
}


.contenedor-titulo .scrolling-item:nth-child(1) {
  animation-delay: 0.2s;
}

/* Estilo para pantallas pequeñas (móviles) */
@media (max-width: 600px) {
  .contenedor-titulo {
    height: 70vh; /* Ajusta la altura para ocupar toda la pantalla */
    display: flex;
    justify-content: start;
    align-items: start;
    padding: 20px;
    width: 100%;

  }
  .logo-izquierda {
    position: absolute;
    z-index: 0;
    transform: translate(0%, 40%) rotate(-90deg) scaleX(-1);
    width: 140vw; /* Ajusta el ancho para ocupar toda la pantalla */
    padding-right: 5rem;
    animation: fade-in 2.2s ease-out;
  }
  .section {
    display: flex;
    position: relative;
    align-items: start;
  }
  .titulo { /* Ajusta el tamaño del texto para pantallas pequeñas */
    letter-spacing: 0.011rem; /* Reduce el espaciado entre letras */
    display: flex;
    top: -10%;
    font-size: 40vw;
  }
  .scrolling-item {
    width: 100%;
    height: 100%;
    display: flex;
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.6s, transform 0.6s;
  }
  .scrolling-item.visible {
    opacity: 1;
    transform: scale(1);
  }
  .contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 20px; /* Añade un poco de espacio alrededor */
  width: 100%;
}
.contenedor {
  display: flex;
  width: 90vw; /* Ajusta el ancho para pantallas pequeñas */
  height: 50vh; /* Ajusta la altura para pantallas pequeñas */
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  margin: 10px auto;
}
.izquierda,.derecha {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.pask {
  font-family: 'Pask';
  font-size: 3rem;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px rgb(255, 255, 255);
}
.graffiti {
  font-family: 'Tag';
  font-size: 5rem;
  letter-spacing: 2px;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px rgb(255, 255, 255);
}
}



/* Animaciones */

@keyframes entrada-desde-arriba {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes aparecer {
  0% {
    opacity: 0;
    transform: scale(0.0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes rotar-fondo {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/* Fuentes personalizadas */
@font-face {
  font-family: 'Tall';
  src: url('fonts/TallGrass.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Pask';
  src: url('fonts/Pask-Personal\ Use.otf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Tag';
  src: url('fonts/aAnotherTag.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}