body {
  position: relative;
  overflow-x: hidden;
  background: red                                             
}

/* --- Splash Screen --- */
.splash-screen {
  position: fixed;
  overflow: hidden;
  width: 100%;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.splash-screen.display-none {
  transition: all 2s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.logo-splash {
  width: 500px;
  height: auto;
  animation: bounce-in 1.5s infinite ease-in-out;
  animation-fill-mode: forwards;
}

/* --- Header y Título --- */
header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.sendhelp {
  position: relative;
  top: 25%;
  left: 33%;
  width: 35vw;
  filter: drop-shadow(2px 2px 10px rgba(0,0,0,0.75));
}
.logo-fondo {
  position: absolute;
  top: -50vh;
  left: 100vh;
  width: 100vw;
  z-index: -1;
  opacity: 1;
}
.logo-fondo img {
  width: 150vw;
  height: auto;
  display: block;
}
.izq {
  left: -100vh;
  width: 100vw;
  z-index: -1;
  opacity: 1;
  transform: rotateY(180deg);
}



/* --- Contenedor de bienvenida --- */
.contenedor {
  width: 100%;
  height: 80vh;
  border-radius: 20px;
  z-index: 1;
  background-image: url('img/Hello_my_name_is_sticker.svg.webp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  filter: drop-shadow(2px 2px 10px rgba(0,0,0,0.75));
}


/* --- Animaciones y efectos de scroll --- */
.scrolling-item {
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.6s, transform 0.6s;
}
.scrolling-item.visible {
  opacity: 1;
  transform: scale(1);
}
.contenedor-titulo .scrolling-item:nth-child(1) {
  animation-delay: 0.2s;
}

/* --- Tipografía y estilos generales --- */
.graffiti {
  font-family: 'TallAndDark';
  font-size: 6rem;
  position: relative;
  display: flex;
  justify-content: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  align-items: center;
  text-align: center;
  line-height: 1;
  letter-spacing: 2px;
  color: #ffffff;
  text-shadow: 2px 10px #252525;
}

.texto-pagina {
  font-family: 'Segoe UI';
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #fff;
  margin-top: 20px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}


 /* --- Animaciones --- */
@keyframes entrada-desde-arriba {
  0% { opacity: 0; transform: translateY(-50px);}
  100% { opacity: 1; transform: translateY(0);}
}
@keyframes bounce-in {
  0% { transform: scale(0.5); opacity: 1;}
  50% { transform: scale(1.2); opacity: 1;}
  100% { transform: scale(.5); opacity: 1;}
}

/* --- Fuentes personalizadas --- */
@font-face {
  font-family: 'Tall';
  src: url('fonts/TallGrass.ttf') format('truetype');
}
@font-face {
  font-family: 'Pask';
  src: url('fonts/Pask-Personal\ Use.otf') format('truetype');
}
@font-face {
  font-family: 'Tag';
  src: url('fonts/aAnotherTag.ttf') format('truetype');
}
@font-face {
  font-family: 'TallAndDark';
  src: url('fonts/talldark.ttf') format('truetype');
}